$categories-items-gap: 1rem;
$categories-letter-spacing: 2px;
$categories-margin: 40px 0;
$primary-color:#FFA500;
$categories-image-width: 110px;
$categories-image-height: 100px;

.categories-container{
    h2{
        text-align: center;
        color: $primary-color;
        letter-spacing: $categories-letter-spacing;
        margin: $categories-margin;
    }

    p{
        text-align: center;
        margin: $categories-margin;
    }
}

.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: $categories-items-gap;

    .categories-image{
        width: $categories-image-width;
        height: $categories-image-height;
    }
}